.rotate{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform .5s linear;
    width: 100vw;
    min-height: 100vh;
}
.rotate.show-nav{
    transform: rotate(-15deg);
}
.rotate.show-nav + nav li{
    transform: translateX(0);
    transition-delay: 0.3s;
}
.rotate.show-nav .circle{
    transform: rotate(-70deg);
}
.content{
    h2{
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        font-size: 50px;
    }
}