.seccion {
    margin-top: 5 / 2;
    margin-bottom: 5 / 2;
}
.contenido-centrado {
    max-width: 800px;
}
.button-cont{
    z-index: 1;
    .button {
        margin: 1rem;
        font-size: 3rem;
        font-weight: bold;
        border: none;
        border-radius: .5rem;
        &:hover .button_top {
          transform: translateY(-0.33em);
        }
        &:active .button_top {
          transform: translateY(0);
        }
    }
  
    // .button_top {
    //   display: block;
    //   box-sizing: border-box;
    //   border: 2px solid $blanco;
    //   border-radius: .5rem;
    //   padding: 2rem 10rem;
    //   backdrop-filter: blur(10px)  brightness(.6);
    //   backdrop-filter: blur(10px)  brightness(.6);
    //   transform: translateY(-0.2em);
    //   transition: transform 0.1s ease;
    // }
}
.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid $blanco;
  border-radius: .5rem;
  padding: 1rem 5rem;
  backdrop-filter: blur(10px)  brightness(.6);
  backdrop-filter: blur(10px)  brightness(.6);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.button-more{
  z-index: 1;
  .button {
      margin: 1rem;
      font-size: 2rem;
      font-weight: bold;
      border: none;
      border-radius: .5rem;
      text-transform: uppercase;
      &:hover .button_top {
        transform: translateY(-0.33em);
      }
      &:active .button_top {
        transform: translateY(0);
      }
  }


}
