.container {
    display: inherit;
    
    .about2 {
        background-color: $azulChido;
        width: 100%;
        height: 100%;
        position: relative;

        .content-about2 {
            width: 100%;
            min-height: 100vh;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            &::before {
                content: '';
                background-image: url("/build/img/cmsRC7.05.(1).webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top;
                position: absolute;
                top: 0%;
                left: -15%;
                width: 50%;
                height: 100vh;
                z-index: 1;
            }

            &::after {
                content: '';
                background-image: url("/build/img/cmsRC7.05.(2).webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: 0;
                right: -15%;
                width: 50%;
                height: 100vh;
                z-index: 0;
            }

            .about2-content-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .title-about2 {
                    width: 100vw;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/Trying-Cover-1000-comp.webp);
                    height: 45rem;
                    box-shadow: 0px -80px 43px -53px rgba(0, 0, 0, 0.75) inset;
                    z-index: 0;

                    h2 {
                        //margin: 0;
                        align-items: center;
                        color: $blanco;
                        display: flex;
                        z-index: 2;
                        text-transform: uppercase;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 7rem;

                        @include tablet {
                            font-size: 5rem;
                            margin-top: 10rem;
                        }
                    }
                }

                .text-about2 {
                    text-align: center;
                    color: $blanco;
                    display: flex;
                    z-index: 1;
                    flex-direction: column;
                    justify-content: center;
                    width: 70%;
                    @include background;
                    margin-top: -20rem;
                    padding: 3rem;

                    @include tablet {
                        width: 90%;
                        padding: 1rem;
                    }

                    p {
                        z-index: 1;
                        font-size: 2rem;
                        margin: 1rem;

                        @include tablet {
                            font-size: 1.7rem;
                            margin: .5rem;
                        }
                    }
                }
            }

            .content-img-concha {
                display: block;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5rem;
                justify-items: center;
                padding: 5rem;
                width: 80%;
                @include background;
                margin: 5rem;
                z-index: 1;

                @include tablet {
                    width: 80%;
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr;
                }


                .img-concha {
                    width: 100%;
                }

                .lineas_cont {
                    padding: .5rem;
                }
            }

            
        }

    }
}