.about{
    background: $azulChido;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    
    
    .content-about{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .about-content-text{
            width: 100vw;
            height: 100vh;
        }
        .title-about{
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            h2{
                align-items: center;
                color: $blanco;
                display: flex;
                z-index: 1;
                text-transform: uppercase;
                justify-content: center;
                font-weight: bold;
                font-size: 7rem;
            }
            @include tablet{
                left: 50%;
            }
        }
        .text-about{
            text-align: center;
            color: $blanco;
            display: flex;
            align-items: center;
            z-index: 1;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            @include background;
            padding: 3rem;
            padding-bottom:0rem ;
            //border-radius: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //box-shadow: 0px 0px 30px 11px rgba(0,0,0,0.75);
            h2{
                height: auto;
                margin: 0;
            }
            p{
                z-index: 1;
                font-size: 2rem;
                margin: 1rem;
            }
            @include tablet{
                flex-direction: column;
                width: 90%;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                p{
                    z-index: 1;
                    font-size: 1.35rem;
                    margin: 1rem;
                }
            }
        }
        &::before{
            content: '';
            background-image: url("/build/img/cmsRC7.05.(1).webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 100vh;
        }
        &::after{
            content: '';
            background-image: url("/build/img/cmsRC7.05.(2).webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            height: 100vh;
        }
        
    }
}