.section-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background-color: $azulChido;
    background-image: url("/build/img/cms\ RC2.1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    @include tablet{
        background-size: cover;
        background-position: top;
    }
}
.container-contact{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
    h2{
        margin: 0;
        align-items: center;
        color: $blanco;
        display: flex;
        z-index: 1;
        text-transform: uppercase;
        justify-content: center;
        font-weight: bold;
        font-size: 7rem;
      }
}
.container-contact::before{
    content: '';
    position: relative;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.container-contact h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}
.container-contact .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container-contact .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;   
}
.container-contact .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height:  40px;
    color: #fff;
}
.container-contact .row100 .col .inputBox input,
.container-contact .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container-contact .row100 .col .inputBox .text-contact{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;

}

.container-contact .row100 .col .inputBox input:focus + .text-contact,
.container-contact .row100 .col .inputBox input:valid + .text-contact,
.container-contact .row100 .col .inputBox textarea:focus + .text-contact,
.container-contact .row100 .col .inputBox textarea:valid + .text-contact{
    top: -35px;
    left: -10px;
}
.container-contact .row100 .col .inputBox .line-contact{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container-contact .row100 .col .inputBox input:focus ~ .line-contact,
.container-contact .row100 .col .inputBox input:valid ~ .line-contact{
    height: 100%;
}
.container-contact .row100 .col .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container-contact .row100 .col .inputBox textarea:focus ~ .line-contact,
.container-contact .row100 .col .inputBox textarea:valid ~ .line-contact{
    height: 100%;
}

.container-contact .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}
@media (max-width:768px) {
    // .section-contact::before{
    //     transform: translate(-200px,-180px);
    // }
    // .section-contact::after{
    //     transform: translate(220px,180px);
    // }
    .container-contact{
        padding: 20px;
    }
    
}