.section-contact{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5rem;
    row-gap: 0;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background-color: $azulChido;
    background-image: url("/build/img//cms-RC2.1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
    @include tablet{
        display: flex;
        background-size: cover;
        background-position: top;
        flex-direction: column;
        gap: 0;
        justify-content: space-evenly
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        //left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        background-image: url("/build/img/4-min.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        @include desktopPlus{
            content: none;
        }
    }
    .container-singin{
        z-index: 1;
        grid-row: 2;
        grid-column: 1 / 3;
        @include background;
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: 36px;
            text-transform: uppercase;
            margin: 0;
            font-weight: bold;
            @include tablet{
                font-size: 2rem;
            }
        }

    }
    .main_div {
        position: relative;
        width: auto;
        z-index: 1;
        margin: 1rem;
       }
       
       .main_div::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background: transparent;
        top: -7px;
        left: -7px;
        z-index: -5;
        border-top: 3px solid $newblanco;
        border-left: 3px solid $newblanco;
        transition: 0.5s;
       }
       
       .main_div::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background: transparent;
        bottom: -7px;
        right: -7px;
        z-index: -5;
        border-right: 3px solid $newblanco;
        border-bottom: 3px solid $newblanco;
        transition: 0.5s;
       }
       
       .main_div:hover::before {
        width: 100%;
        height: 100%;
       }
       
       .main_div:hover::after {
        width: 100%;
        height: 100%;
       }
       
       .main_div button {
        padding: 2rem 4rem;
        font-size: 2rem;
        @include background;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        border-radius: 0;
        cursor: pointer;
        font-family: inherit;
       }

}
.container-contact{
    margin: 2rem;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    @include background;
    overflow: hidden;
    backdrop-filter: blur(25px);
    @include tablet{
        padding: 1rem;
    }
    h2{
        margin: 0;
        align-items: center;
        color: $blanco;
        display: flex;
        z-index: 1;
        text-transform: uppercase;
        justify-content: center;
        font-weight: bold;
        font-size: 7rem;
      }
}
.container-contact::before{
    content: '';
    position: relative;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
.container-contact h2{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
    @include tablet{
        font-size: 2rem;
        margin: 0;
    }
}
.container-contact .row100{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    //grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container-contact .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;   
}
.container-contact .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height:  40px;
    color: #fff;
}
.container-contact .row100 .col .inputBox input,
.container-contact .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container-contact .row100 .col .inputBox .text-contact{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;

}

.container-contact .row100 .col .inputBox input:focus + .text-contact,
.container-contact .row100 .col .inputBox input:valid + .text-contact,
.container-contact .row100 .col .inputBox textarea:focus + .text-contact,
.container-contact .row100 .col .inputBox textarea:valid + .text-contact{
    top: -35px;
    left: -10px;
}
.container-contact .row100 .col .inputBox .line-contact{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container-contact .row100 .col .inputBox input:focus ~ .line-contact,
.container-contact .row100 .col .inputBox input:valid ~ .line-contact{
    height: 100%;
}
.container-contact .row100 .col .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container-contact .row100 .col .inputBox textarea:focus ~ .line-contact,
.container-contact .row100 .col .inputBox textarea:valid ~ .line-contact{
    height: 100%;
}

.container-contact .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}
@media (max-width:768px) {
    .container-contact{
        padding: 20px;
    }
    
}