.container {
    display: inherit;

    .crud {
        background-color: $azulChido;
        width: 100%;
        height: 100%;
        position: relative;

        @include tablet {
            height: 100%;
        }

        .crud {
            &::before {
                content: '';
                background-image: url("/build/img/DP-1-min.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 50%;
                height: 100vh;
                z-index: 1;
            }
        }

        .merchAdmin {
            &::before {
                content: '';
                background-image: url("/build/img/cmsRC8.1.1-min.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 50%;
                height: 100vh;
                z-index: 1;
            }
        }

        .newsAdmin {
            &::before {
                content: '';
                background-image: url("/build/img/4-min.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: 0%;
                left: 0%;
                width: 50%;
                height: 100vh;
                z-index: 1;
            }
        }

        .aboutAdmin {

            &::before {
                content: '';
                background-image: url("/build/img/cmsRC7.05.(1).webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top;
                position: absolute;
                bottom: 0%;
                left: -15%;
                width: 50%;
                height: 100vh;
                z-index: 1;
            }

            &::after {
                content: '';
                background-image: url("/build/img/cmsRC7.05.(2).webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: 0;
                right: -15%;
                width: 50%;
                height: 100vh;
                z-index: 0;
            }
        }

        .discAdmin {
            &::before {
                content: '';
                background-image: url("/build/img/IFILC-1.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: 0%;
                left: -10%;
                width: 50%;
                height: 100vh;
                z-index: 1;
            }
        }

        .userAdmin {
            &::before {
                content: '';
                background-image: url("/build/img/cmsRC11.2.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                position: absolute;
                bottom: 0%;
                right: 0%;
                width: 60%;
                height: 100vh;
                z-index: 1;
            }
        }


        .content-crud {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;



            .crud-content-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .title-crud {
                    width: 100vw;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/el-5to-cover-1000-comp.webp);
                    height: 45rem;
                    box-shadow: 0px -80px 43px -53px rgba(0, 0, 0, 0.75) inset;
                    z-index: 0;

                    h2 {
                        //margin: 0;
                        align-items: center;
                        color: $blanco;
                        display: flex;
                        z-index: 2;
                        text-transform: uppercase;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 7rem;
                        z-index: 2;

                        @include tablet {
                            font-size: 5rem;
                            margin-top: 10rem;
                        }
                    }
                }

                .buttons-crud {
                    text-align: center;
                    color: $blanco;
                    display: flex;
                    z-index: 1;
                    flex-direction: column;
                    justify-content: center;
                    width: 70%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    @include background;
                    gap: 5rem;
                    margin-top: -20rem;
                    padding: 3rem;
                    height: auto;
                    min-height: 60rem;
                    align-items: center;

                    @include tablet {
                        width: 90%;
                        padding: 1rem;
                        grid-template-columns: 1fr;
                    }

                    .lineas_cont {
                        background: rgba(255, 255, 255, 0.1);

                        .widget-curso {
                            justify-content: center;
                        }
                    }

                }

                .form-create {
                    @include background;
                    margin: 5rem;
                    margin-top: -20rem;
                    width: 80%;
                    max-width: 100rem;
                    z-index: 1;
                    padding: 5rem;
                    text-align: start;

                    @include tablet {
                        margin: 1rem;
                        margin-top: -20rem;
                        width: 95%;
                        padding: 1rem;
                    }

                    .radio {
                        display: flex;

                        label {
                            margin: 0 1rem;
                        }
                    }


                    fieldset {
                        margin: 2rem 0;
                    }

                    p {
                        font-size: 1.4rem;
                        color: $grisOscuro;
                        margin: 2rem 0 0 0;
                    }

                    legend {
                        font-size: 2rem;
                        color: $blanco ;
                    }

                    label {
                        font-weight: $bold;
                        text-transform: uppercase;
                        display: block;
                        color: $blanco;
                    }

                    input:not([type="submit"]),
                    textarea,
                    select {
                        padding: 1rem;
                        display: block;
                        width: 100%;
                        background-color: $blanco;
                        border: 1px solid $gris;
                        border-radius: 1rem;
                        margin-bottom: 2rem;
                    }

                    textarea {
                        height: 20rem;
                    }

                    .button_accept {
                        @include background;
                        color: $blanco;
                        padding: 2rem;
                        font-size: 2rem;
                        cursor: pointer;
                        margin-top: 2rem;
                        transition: background .2s ease-in-out;

                        &:hover {
                            transition: background .2s ease-in-out;
                            background: rgba(0, 0, 0, 0.5);
                        }
                    }

                    input[type="radio"] {
                        margin: 0;
                        width: auto;
                    }
                }
            }
        }
    }
}

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .errorAlert {
        border-radius: .5rem;
        font-weight: $bold;
        font-size: 2rem;
        border: 0.5px solid rgba(205, 205, 205, 0.5);
        ;
        background: $rojo;
        margin: 1rem;
        text-align: center;
        width: 50%;
        color: $blanco;
    }

    .fineAlert {
        border-radius: .5rem;
        font-weight: $bold;
        font-size: 2rem;
        border: 0.5px solid rgba(205, 205, 205, 0.5);
        ;
        background: $verde;
        margin: 1rem;
        text-align: center;
        width: 100%;
        padding: 0 1rem;
        color: $blanco;
    }
}

.news2-crud {
    background-color: $azulChido;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 70%;
        z-index: 0;
        background-image: url("/build/img/4-min.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;

        @include desktopPlus {
            background-position: bottom;
        }
    }

    .content-news2-crud {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .news2-img1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 20%;

            @include tablet {
                width: 60%;
            }
        }

        .news2-content-text-crud {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .title-news2-crud {
                width: 100vw;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/el-5to-cover-1000-comp.webp);
                height: 45rem;
                box-shadow: 0px -80px 43px -53px rgba(0, 0, 0, 0.75) inset;
                z-index: 0;

                h2 {
                    //margin: 0;
                    align-items: center;
                    color: $blanco;
                    display: flex;
                    z-index: 2;
                    text-transform: uppercase;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 7rem;

                    @include tablet {
                        font-size: 5rem;
                        margin-top: 10rem;
                    }
                }
            }
        }
    }
}

.container-all-crud {
    z-index: 1;
    width: 80%;
    .content-img-discography-singles {
        margin: 0rem auto !important;
        z-index: 2;
    }

    .content-img-merch {
        margin: 0rem auto !important;
        z-index: 2;
    }
    .content-about-info{
        margin: 0rem auto !important;
        z-index: 2;
        width: 80%;
        .text-about2{
            width: 100% !important;
            margin: 0rem auto !important;
        }
    }
}


.contenido-principal-crud {
    margin-top: 0rem;
    z-index: 1;

    @include background;

    @include tablet {
        display: flex;
        flex-direction: column;
    }

    .blog {
        z-index: 1;
    }

    h3 {
        color: $blanco;
        text-align: start;
        font-size: 3rem;
        text-align: center;
    }

    .entrada-crud {
        display: block;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

        .entrada-blog-crud {

            min-height: 50rem;
            position: relative;
            @include background;
            box-shadow: -2px 1px 22px 0px rgba(0, 0, 0, 1.75);
            backdrop-filter: blur(10px) brightness(.6);
            padding: 1rem;
            border-radius: .5rem;
            margin: 1rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-width: 30rem;

            &:before {
                content: '';
                position: absolute;
                top: -50%;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(205, 205, 205, 0.5);
                transform: skewY(345deg);
                transition: 0.5s;
            }

            &:hover::before {
                top: -70%;
                transform: skewY(385deg);
            }
        }

        .entrada-imagen-crud {
            position: relative;
            margin: 1rem 0;
            display: flex;
            justify-content: center;

            img {
                max-width: 100%;
                transition: max-width 0.5s;
            }
        }
    }
}

.optionsCrud {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.entrada-info-crud {
    position: relative;
    color: $blanco;
    font-size: 1.3rem;
    height: 20rem;

    .entrada-meta-crud {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;

        .entrada-meta-izquierda-crud {
            color: $blanco;
        }

        .entrada-meta-derecha-crud {
            color: $gris;

            .hot {
                color: $blanco;
            }
        }
    }

    h4 {
        font-size: 2.3rem;
        margin: 0;
    }

    hr {
        width: 60%;
        background-color: $rosa;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 1.3rem;
        color: $gris;
    }

    .boton-entrada {
        background-color: $rosa;
        color: $negro;
        font-size: 1.5rem;
        font-weight: $bold;
        padding: .5rem;
        border-radius: .5rem;
        right: 1rem;
        bottom: 1rem;
        //position: absolute;
    }

}