.discography{
  min-height: 100vh;
  width: 100vw;
  background-color: $azulChido;
  //padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/build/img/cmsRC8.2.1-min.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  // position: relative;
  z-index: 1;
  @include tablet{
    background-size: cover;
    background-position: top;
}

  .carousel1{
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 3rem;
    gap: 3rem;
    justify-content: space-around;
    @include tablet{
      flex-direction: column;
      gap: 0rem;
    }
    .last-realease{
      @include background;
      backdrop-filter: brightness(0.5) blur(10px);
      //box-shadow: 0px 0px 30px 11px rgba(0,0,0,0.75);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50vw;
      
      h2{
        font-size: 3rem;
        text-align: center;
        padding: 1rem;
      }
      @include tablet{
        width: 90vw;
        height: 40%;
        h2{
          font-size: 1.5rem;
        }
      }
      .spotify{
        width:95%;
        height:8rem;
        margin: 1rem;
      }
      .youtube{
        width:95%;
        margin: 1rem;
      }
    }
    .content-discography{
      // position: absolute;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 2rem;
      margin: 0 !important;
      padding: 2rem;
      overflow: hidden;
      width: 50vw;
      @include background;
      // border-radius: 10px;
      backdrop-filter: brightness(0.5) blur(10px);
      //box-shadow: 0px 0px 30px 11px rgba(0,0,0,0.75);
      justify-items: center;
      max-height: auto;
      @include tablet{
        width: 90vw;
        gap: 1rem;
        
      }
      .album-content{
        // position: relative;
        background: rgba(205, 205, 205, 0.1);
        margin: 0;
        width: auto;
        border: 1px solid rgba($blanco, $alpha: .1);
        border-radius: 5px;
        padding: 1rem;
        max-width: 30rem;
        transform: scale(1);
        transition: border .3s ease-in-out, transform  .2s ease-in-out;
        &:hover{
          border: 1px solid rgba(205,205,205,1);;
          transform: scale(1.07);
        }
        .image{
          border-radius: .5rem;
        }
        @include tablet{
          max-width: 20rem;;
          padding: .5rem;
        }

      }
    }
    h2{
      margin: 0;
      align-items: center;
      color: $blanco;
      display: flex;
      z-index: 1;
      text-transform: uppercase;
      justify-content: center;
      font-weight: bold;
      font-size: 7rem;
      @include tablet{
        font-size: 4rem;
      }
    }
    .container-button{
      grid-column: 1 / 3;
      margin: 0;
      .button{
        margin: 0rem;
      }
      .button_top{
        margin-top: 2rem;
      }
    }
    
    
  }

}