
.container {
  display: inherit;
  

  .discography2_product {
      background-color: $azulChido;
      width: 100%;
      height: 100%;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 70%;
        z-index: 1;
        background-image: url("/build/img/IFILC-1.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
      }

      .content-discography2_product {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          //height: 100vh;
          .discography2_product-img1 {
              position: absolute;
              top: 0;
              left: 0;
              width: 20%;
              @include tablet{
                  width: 60%;
              }
          }

          .discography2_product-content-text {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              .title-discography2_product{
                  width: 100vw;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: cover;
                  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/Trust-all-your-friends-album-cover-1000-COMP.webp);
                  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/Dangerous-Potential-cover-art-COMPRESSED.webp);
                  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/Dance-Cover-1000-comp.webp);
                  height: 45rem;
                  box-shadow: 0px -80px 43px -53px rgba(0,0,0,0.75) inset;
                  z-index: 1;
                  h2 {
                      //margin: 0;
                      align-items: center;
                      color: $blanco;
                      display: flex;
                      z-index: 2;
                      text-transform: uppercase;
                      justify-content: center;
                      font-weight: bold;
                      font-size: 7rem;
                      @include tablet{
                        font-size: 5rem;
                        margin-top: 10rem;
                    }
                  }
                  
              }
              
              .text-discography2_product {
                  text-align: center;
                  color: $blanco;
                  display: flex;
                  z-index: 1;
                  flex-direction: column;
                  justify-content: center;
                  width: 70%;
                  background: rgba(255, 255, 255, 0.1);
                  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
                  border: 1px solid rgba(255, 255, 255, 0.25);
                  border-right: 1px solid rgba(255, 255, 255, 0.1);
                  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                  border-radius: 10px;
                  backdrop-filter: blur(5px);
                  padding: 3rem;
                  border-radius: 3rem;
                  margin: 0;
                  
                  @include tablet{
                      width: 90%;
                      padding: 1rem;
                  }
                  p {
                      z-index: 1;
                      font-size: 2rem;
                      margin: 1rem;
                      @include tablet{
                          font-size: 1.7rem;
                          margin: .5rem;
                      }
                  }
              }
          }
          .container-all{
            margin-top: -20rem;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
          
          }
          .disc-info{
            align-items: center;
          }
          .content-discography{
              display: flex;
              flex-direction: row;
              gap: 5rem;
              justify-content: center;
              padding: 5rem;
              width: 95%;
              @include background;
              margin: 5rem 0;
              z-index: 2;
              @include tablet{
                  width: 85%;
                  flex-direction: column;

              }
              .content-img{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  width: 50%;
                  @include tablet{
                    width: 100%
                  }
                  h3{
                      color: $blanco;
                      margin: 0;
                      font-size: 2rem;
                  }
                  p{
                    text-align: center;
                    margin: 0;
                    margin-bottom: 2rem;
                  }
                  hr{
                    width: 90%;
                  }
                  .img-discography{
                    width: 100%;
                    max-width: 70%;
                    border-radius: 10px;
                  }

              }
              .content-info{
                width: 50%;
                h2{
                  color: $blanco;
                  text-align: left;
                  margin: 0;
                }
                p{
                  color: $blanco;
                  a{
                    color: $amarillo2;
                  }
                }
                @include tablet{
                  width: 100%
                }
              }
              .song{
                width: 50%;
                h2{
                  color: $blanco;
                  text-align: center;
                  margin: 0;
                  text-transform: uppercase;
                }
                p{
                  color: $blanco;
                  text-align: center;
                  margin: 0;
                }
                .spotify{
                  width:95%;
                  height:8rem;
                  margin: 1rem;
                }
                .youtube{
                  width:95%;
                  margin: 1rem;
                }
                @include tablet{
                  width: 100%
                }
              }
              .reason{
                width: 50%;
                h2{
                  color: $blanco;
                  text-align: center;
                  margin: 0;
                  text-transform: uppercase;
                }
                p{
                  color: $blanco;
                  text-align: left;
                  margin: 0;
                }
                @include tablet{
                  width: 100%
                }
              }
              
          }

      }

  }
}
  