.container{
    display: inherit;

    .merch2 {
        background-color: $azulChido;
        width: 100%;
        height: 100%;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 70%;
            z-index: 1;
            background-image: url("/build/img/cmsRC8.1.1-min.webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom ;
          }

        .content-merch2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            //height: 100vh;
            .merch2-img1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 20%;
                @include tablet{
                    width: 60%;
                }
            }

            .merch2-content-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .title-merch2{
                    width: 100vw;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/ITILC-cover-1000-COMP.webp);
                    height: 45rem;
                    box-shadow: 0px -80px 43px -53px rgba(0,0,0,0.75) inset;
                    z-index: 1;
                    h2 {
                        //margin: 0;
                        align-items: center;
                        color: $blanco;
                        display: flex;
                        z-index: 2;
                        text-transform: uppercase;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 7rem;
                    }
                }
                
                .text-merch2 {
                    text-align: center;
                    color: $blanco;
                    display: flex;
                    z-index: 1;
                    flex-direction: column;
                    justify-content: center;
                    width: 70%;
                    @include background;
                    border-radius: 3rem;
                    margin: 0;
                    
                    @include tablet{
                        width: 90%;
                        padding: 1rem;
                    }
                    p {
                        z-index: 1;
                        font-size: 2rem;
                        margin: 1rem;
                        @include tablet{
                            font-size: 1.7rem;
                            margin: .5rem;
                        }
                    }
                }
            }
            .content-img-merch{
                display: block;
                display: grid;
                grid-template-columns: repeat(auto-fill ,minmax(30rem, 1fr));
                gap: 5rem;
                justify-items: center;
                justify-content: center;
                padding: 5rem;
                width: 70%;
                @include background;
                backdrop-filter: brightness(0.5) blur(7px);
                margin: 5rem;
                margin-top: -20rem;
                z-index: 2;
                @include tablet{
                    width: 90%;
                }
                .content-img{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @include background;
                    border-radius: 0rem;
                    background: rgba(205, 205, 205, 0.1);
                    backdrop-filter: brightness(0.6);
                    overflow: hidden;
                    z-index: 1;
                    @include lines(0rem);
                    .lineas_cont{
                        padding: 0;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: -50%;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(205, 205, 205, 0.5);
                        transform: skewY(345deg);
                        transition: 0.5s;
                    }
        
                    &:hover::before {
                        top: -70%;
                        transform: skewY(385deg);
                    }
                    h3{
                        color: $blanco;
                        margin: 0;
                    }
                    .price{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;
                        align-items: center;
                        justify-items: center;
                        margin: 1rem;
                        p{
                            font-weight: 300;
                            color: $blanco;
                            background: rgba(205, 205, 205, 0.4);
                            padding: 0rem 1rem;
                            border-radius: 5px;
                            width: 100%;
                            text-align: center;
                            margin: 0;
                        }
                        a{
                            font-size: 2rem;
                            font-weight: 500;
                            color: $blanco;
                            text-align: center;
                            width: 100%;
                            border-radius: 5px;
                            border: 1px solid rgba(205, 205, 205, 1);
                            transform: scale(1);
                            &:hover{
                                transform: scale(1.05);
                                transition:transform .2s ease-in-out;
                            }
                            @include tablet{
                                font-size: 1.9rem;
                            }
                        }
                    }  
                    .img-merch{
                        width: 95%;
                        background: rgb(205, 205, 205);
                        border-radius: 10px;
                        margin: 1rem;
                        z-index: 1;
                    }
                    // &:hover{
                    //     border: 2px solid rgba(255, 255, 255, 1);
                    //     transition: border .2s ease-in-out;

                    // }
                }
                
            }
            
        }

    }
}