.container {
    display: inherit;

    .merch2 {
        background-color: $azulChido;
        width: 100%;
        height: 100%;
        position: relative;

        .content-merch2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            //height: 100vh;
            .merch2-img1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 20%;
                @include tablet{
                    width: 60%;
                }
            }

            .merch2-content-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .title-merch2{
                    width: 100vw;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/ITILC-cover-1000\ COMP.webp);
                    height: 45rem;
                    box-shadow: 0px -80px 43px -53px rgba(0,0,0,0.75) inset;
                    z-index: 1;
                    h2 {
                        //margin: 0;
                        align-items: center;
                        color: $blanco;
                        display: flex;
                        z-index: 2;
                        text-transform: uppercase;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 7rem;
                    }
                }
                
                .text-merch2 {
                    text-align: center;
                    color: $blanco;
                    display: flex;
                    z-index: 1;
                    flex-direction: column;
                    justify-content: center;
                    width: 70%;
                    background: rgba(255, 255, 255, 0.1);
                    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    border-right: 1px solid rgba(255, 255, 255, 0.1);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 10px;
                    backdrop-filter: blur(5px);
                    padding: 3rem;
                    border-radius: 3rem;
                    margin: 0;
                    
                    @include tablet{
                        width: 90%;
                        padding: 1rem;
                    }
                    p {
                        z-index: 1;
                        font-size: 2rem;
                        margin: 1rem;
                        @include tablet{
                            font-size: 1.7rem;
                            margin: .5rem;
                        }
                    }
                }
            }
            .content-img-merch{
                display: block;
                display: grid;
                grid-template-columns: repeat(auto-fill ,minmax(30rem, 1fr));
                gap: 5rem;
                justify-items: center;
                justify-content: center;
                padding: 5rem;
                width: 70%;
                background: rgba(255, 255, 255, 0.1);
                box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.25);
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                backdrop-filter: blur(5px);
                border-radius: 3rem;
                margin: 5rem;
                margin-top: -20rem;
                z-index: 2;
                @include tablet{
                    width: 90%;
                }
                .content-img{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.25);
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    border-right: 1px solid rgba(255, 255, 255, 0.1);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 10px;
                    transition: transform .2s ease-in-out;
                    transform: scale(1);
                    h3{
                        color: $blanco;
                        margin: 0;
                    }
                    .price{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: .5rem;
                        align-items: center;
                        justify-items: center;
                        p{
                            font-weight: 300;
                            color: $blanco;
                            background: rgba(255, 255, 255, 0.4);
                            padding: 0rem 1rem;
                            border-radius: 5px;
                            width: 100%;
                            text-align: center;
                        }
                        a{
                            font-size: 2rem;
                            font-weight: 700;
                            background: rgba(255, 255, 255, 0.4);
                            padding: 0rem .5rem;
                            border-radius: 5px;
                            border: 1px solid rgba(255, 255, 255, 1);
                            transform: scale(1);
                            &:hover{
                                transform: scale(1.05);
                                transition:transform .2s ease-in-out;
                            }
                            @include tablet{
                                font-size: 1.9rem;
                            }
                        }
                    }  
                    .img-merch{
                        width: 95%;
                        background: rgba(255, 255, 255, 0.4);
                        border-radius: 10px;
                        margin: 1rem;
                    }
                    &:hover{
                        transform: scale(1.07);
                        border: 2px solid rgba(255, 255, 255, 1);
                        transition: border .2s ease-in-out, transform .2s ease-in-out;

                    }
                }
                
            }
            .button {
                margin: 1rem;
                font-size: 3rem;
                font-weight: bold;
                border: none;
                border-radius: 1rem;
                &:hover .button_top {
                  transform: translateY(-0.33em);
                }
                &:active .button_top {
                  transform: translateY(0);
                }
              }
          
              .button_top {
              display: block;
              box-sizing: border-box;
              border: 2px solid $blanco;
              border-radius: 1rem;
              padding: 2rem 10rem;
              backdrop-filter: blur(10px)  brightness(.6);
              backdrop-filter: blur(10px)  brightness(.6);
              transform: translateY(-0.2em);
              transition: transform 0.1s ease;
              }
        }

    }
}