.merch{
    height: 100vh;
    width: 100vw;
    background-color: $azulChido;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/build/img/IFILC-3.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    @include tablet{
        background-size: cover;
        background-position: top;
    }
    z-index: 0;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      //left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background-image: url("/build/img/DP-1-min.webp");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      @include desktopPlus{
          display: none;
      }
    }
    .carousel1{
      height: 100vh;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .swiper1{
        overflow: hidden;
        padding: 5rem;
      }
      h2{
        margin: 0;
        align-items: center;
        color: $blanco;
        display: flex;
        z-index: 1;
        text-transform: uppercase;
        justify-content: center;
        font-weight: bold;
        font-size: 7rem;
      }
  
      
    }
    .swiper-slide-active {
      flex-direction: column;
      @include background;
      background: rgba(100, 100, 100, 0.1);
      max-width: 50%;
      z-index: 2 !important;
      backdrop-filter: blur(10px)  brightness(.6);
      transition: backdrop-filter .8s ease-in  !important;
      .image{
        background-color: rgba(205,205,205,1);
        max-width: 100%;
      }
      .boton-merch{
        margin: 3rem;
        text-transform: uppercase;
        width: auto;
        border-radius: .5rem;
        font-weight: 700;
        background: rgba(205, 205, 205, 0.1);
        border: 1px solid rgba(205, 205, 205, 0.50);
        cursor: pointer;
        padding: .5rem 2rem;
        text-align: center;
        transition: transform .1s ease-in  !important;
        &:hover{
          transform: scale(1.05);
        }
      }
    }
    .swiper-slide {
      flex-direction: column;
      margin: 0;
      max-width: 50%;
      padding: 0;
      .image{
        background-color: rgb(205,205,205);
        max-width: 100%;
        border-radius: 10px;
        margin: 0;
      }
    }
    .swiper-wrapper{
      align-items: flex-start;
      width: 50%;
      @include tablet{
        width: 100%;
      }
    }
  
  }
  