.container {
    display: inherit;

    .merch2 {
        background-color: $azulChido;
        width: 100%;
        height: 100%;
        position: relative;

        .content-merch2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .merch2-img1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 20%;

                @include tablet {
                    width: 60%;
                }
            }

            .merch2-content-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .title-merch2 {
                    width: 100vw;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/build/img/ITILC-cover-1000-COMP.webp);
                    height: 45rem;
                    box-shadow: 0px -80px 43px -53px rgba(0, 0, 0, 0.75) inset;
                    z-index: 1;

                    h2 {
                        align-items: center;
                        color: $blanco;
                        display: flex;
                        z-index: 2;
                        text-transform: uppercase;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 7rem;
                    }
                }
            }

            .product-merch {
                display: grid;
                grid-template-columns: 1fr 1fr;
                @include background;
                backdrop-filter: brightness(0.7) blur(20px);
                box-shadow: 0px 0px 30px 11px rgba(0, 0, 0, 0.75);
                justify-items: center;
                max-height: auto;
                width: 90%;
                margin-top: -20rem;
                z-index: 2;

                @include tablet {
                    grid-template-columns: auto;
                    grid-template-rows: auto 1fr;
                }

                .img-product {
                    background: rgba(255, 255, 255, 0.8);
                    margin: 2rem;
                    border-radius: 2rem;
                    display: flex;
                    align-items: center;
                }

                .content-product {
                    padding: 1rem;

                    h2 {
                        align-items: center;
                        color: $blanco;
                        display: flex;
                        z-index: 2;
                        text-transform: uppercase;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 3rem;
                    }

                    .variations-form {
                        border-top: 1px solid $blanco;

                        .variations {
                            margin: 1rem 0;
                            width: 100%;

                            tbody {
                                tr {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 2rem 0;
                                    @include background;
                                    background: rgba(255, 255, 255, 0.1);
                                    //border: 1px solid $blanco;
                                    padding: 1rem;

                                    label {
                                        align-items: center;
                                        color: $blanco;
                                        display: flex;
                                        z-index: 2;
                                        text-transform: uppercase;
                                        justify-content: center;
                                        font-weight: bold;
                                        font-size: 2rem;
                                    }

                                    .value {
                                        margin: 1rem;
                                        width: 100%;

                                        .colors,
                                        .sizes {
                                            width: 100%;
                                            background-color: $grisOscuro;
                                            color: $blanco;
                                            padding: .7rem;
                                        }
                                    }

                                }
                            }
                        }

                        .single-variations {
                            display: grid;
                            grid-template-columns: 1fr 2fr;
                            justify-items: center;
                            align-items: center;
                            gap: 5rem;
                            margin: 10rem 0;

                            @include tablet {
                                gap: 2rem;
                            }

                            .quantity {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                border: 1px solid hsla(0,0%,100%,.25);
                                justify-items: center;
                                align-items: center;
                                width: 100%;
                                background: rgba(255, 255, 255, 0.1);

                                h2 {
                                    margin: 0;
                                    font-size: 2.5rem;
                                }

                                button {
                                    background: $grisOscuro;
                                    border: 1px solid rgba(255, 255, 255, 0.25);
                                    color: $blanco;
                                    font-size: 3rem;
                                    height: 100%;
                                    width: 100%;

                                    &:active {
                                        transition: transform .05s ease-in-out;
                                        transform: scale(.95);
                                    }
                                }
                            }
                        }

                        .button-add {
                            background: $rojo;
                            border: 1px solid rgba(255, 255, 255, 0.25);
                            color: $blanco;
                            font-size: 2rem;
                            text-transform: uppercase;
                            height: 100%;
                            width: 100%;
                            border-radius: .5rem;

                            &:active {
                                transition: transform .05s ease-in-out;
                                transform: scale(.99);
                            }
                        }
                    }
                }
            }

            .button {
                margin: 1rem;
                font-size: 3rem;
                font-weight: bold;
                border: none;
                border-radius: 1rem;

                &:hover .button_top {
                    transform: translateY(-0.33em);
                }

                &:active .button_top {
                    transform: translateY(0);
                }
            }

            .button_top {
                display: block;
                box-sizing: border-box;
                border: 2px solid $blanco;
                border-radius: 1rem;
                padding: 2rem 10rem;
                backdrop-filter: blur(10px) brightness(.6);
                transform: translateY(-0.2em);
                transition: transform 0.1s ease;
            }
        }

    }
}